.App {
  background-color: black;
  color: white;
}

.App-ListHeading {
  padding-bottom: 1em;
  font-weight: bold;
  font-size: 1.5em;
  padding-left: 0.2em;
}

.App-ListItem {
  display: flex;
  padding: 0.5em;
  clear: both;
  border-top-color: rgb(61, 61, 61);
  border-top-style: solid;
  border-top-width: 1px;


  border-bottom-color: rgb(61, 61, 61);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.App-ListItem:hover {
  background: rgb(61, 61, 61);
  cursor: pointer;
}